#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.msg {
  background-color: lightgray;
  color: black;
  font-weight: bold;
  padding: 1em 3em;
  border: 2px solid yellow;
  margin: 1em;
}

.msg-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.form-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: darkslategrey;
  border-radius: 2rem;
}

  .form-container input {
    width: 80%;
  }